!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Freeagents
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-lg-6.col-lg-offset-3.col-md-8.col-md.offset-4
          %h3 Unrestricted free angents NHL 2018-2020
      .row
        .col-lg-2.col-md-3
          .btn-group-vertical
            %button{type: 'button', class:'btn btn-default'} Home
            %button{type: 'button', class:'btn btn-default'} UFA in 2017-2018
            %button{type: 'button', class:'btn btn-default'} UFA in 2018-2019
            %button{type: 'button', class:'btn btn-default'} UFA in 2019-2020
        .col-lg-10.col-md-9
          

          = yield
